---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// import AboutUs from "../components/AboutUs.astro";
import Services from "../components/Services.astro";
// import Gallery from "../components/Gallery.astro";
import Welcome from "../components/Welcome.astro";
// import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import Map from "../components/Map.astro";
---

<Layout>
  <Header />
  <main class="modern-main">
    <Welcome />        <!-- Hero Section -->
    <Services />       <!-- Servicios -->
    <FAQ />           <!-- Preguntas Frecuentes -->
    <Map />           <!-- Mapa de Ubicación -->
    <!-- <Gallery />         Galería de imágenes -->
    <!-- <Testimonials />    Testimonios de clientes -->
  </main>
  <Footer />
</Layout>
