---
import "../styles/navbar.css";
---
<header id="navbar" class="navbar">
  <nav class="navbar-container">
    <ul class="modern-nav">
      <li><a href="#welcome">Inicio</a></li>
      <li><a href="#services">Servicios</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#map">Ubicación</a></li>
    </ul>
  </nav>
</header>



