---
import "../styles/map.css";
---
<section id="map" class="map-section">
  <h2>Encuéntranos</h2>
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d52392.775902396694!2d-56.127674!3d-34.842443!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f874aca4980a7%3A0x41f2c9251ba9a31d!2sCarFlash!5e0!3m2!1ses-419!2suy!4v1738121995605!5m2!1ses-419!2suy" 
      width="100%"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="Ubicación de CarFlash">
    </iframe>
  </div>
</section>
